body {
  background: lightgray;
}

h6 {
  font-weight: 600;
}

h6.card-book {
  padding-bottom: 1em;
}

.btn.buy svg {
  position: relative;
  left: -1px;
  top: -2px;
}

.btn-outline-secondary.active {
  background-color: #cc0000;
}

/* .card {
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 0;
  border: 0;
  margin-bottom: 1.5em;
}

.card:hover {
  transform: scale(1.1);
} */

.card img {
  /* margin: 0.75em; */
  min-width: 100%;
  width: auto;
  height: auto;
}

legend {
  font-size: 1em;
  font-weight: 600;
}

legend small {
  display: block;
  font-weight: 400;
  font-size: 1em;
}

.checkbox {
  accent-color: #6c757d;
}
.checkbox-main {
  padding: 1em 0;
}
.container.shipping {
  margin: 0.5em -1em;
}

.container.shipping form {
  min-width: 450px;
}

.container.shipping.hidden {
  display: none;
}

/* button svg {
  margin: -2px 2px 0 0;
} */

span.app-title {
  font-weight: 800;
  margin-left: 0.5em;
}

.card-footer-wrapper .btn-group {
  background-color: #fff;
}

a[aria-expanded='true']:after {
  content: 'less';
  padding: 0 0.25rem 0 0;
}

a[aria-expanded='false']:after {
  content: 'more';
}

.btn:focus,
.btn-close:focus,
.btn:active,
.btn:active:focus,
.btn:focus-visible,
.navbar-toggler:focus,
.btn-outline-secondary.active:focus {
  box-shadow: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
